.footer {
    background-color: #8497c2;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;         /* Full width */
    position: fixed;     /* Sticks to the bottom of the viewport */
    bottom: 0;           /* Positions it at the bottom */
    left: 0;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.footer-link:hover {
    color: #9ce6e9;
    transform: scale(1.05);
    text-decoration: underline;
}