.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: #8497c2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: fixed; /* Keeps header fixed at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures it stays above other content */
    height: 80px; /* Adjust based on the header height */
}
