.project {
    display: flex;
    flex-wrap: wrap;
    width: '18rem';
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(195, 211, 211);
}

.project img {
    border-radius: 5px;
}

.project a {
    display: block;
    padding: 10px;
    margin-top: 5px;
}